.user-card {
    padding: 2px;
    background-color: #F1F7FA;
    border: none;
    border-radius: 3px;
}

.user-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #111;
    margin-bottom: 12px;
}

.user-avatar-container {
    position: relative;
    margin-right: 2px;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.user-avatar {
    width: 50px;
    height: 50px;
}

.user-is-in-network {
    background-color: #4FB14F;
    border: 2px solid #F1F7FA;
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 2px;
    left: 2px;
    border-radius: 50%;
}